/* Question - 05 */

/* h1{
    color: pink;
}

#greet{
    color: yellow;
}

.myClass{
    color: brown;
} */

/* Question - 06 */
/* div p{
    background-color: black;
}

.para{
    background-color: blue;
}

p{
    background-color: green;
} */