@media (max-width: 1353px) {
    html{
        font-size: 95%;
    }
}

@media (min-width: 1000px) and (max-width: 1200px) {
    html{
        font-size: 70%;
    }
    
    /* body{
        background-color: red;
    } */
}

@media (max-width: 1000px) {
    .left-sidebar{
        display: none;
    }

    #explore-btn{
        display: none;
    }
}

@media (max-width: 971px) {
    html{
        font-size: 55%;
    }
}

@media (max-width: 752px) {
    .links-container{
        grid-template-columns: repeat(4 , 1fr);
        grid-template-rows: repeat(2 , 1fr);
    }
}


@media (max-width: 584px) {
    .srch-box input{
        display: none;
    }

    .brows-icon{
        display: none;
    }

    .links-container{
        grid-template-columns: repeat(3 , 1fr);
        grid-template-rows: repeat(2 , 1fr);
    }
    
    .albm-heading .albm-cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .control{
        display: none;
    }

    .music-player {
        justify-content: space-evenly;
    }
}

@media (max-width: 430px) {
    .explore {
        display: none;
    }

}